.block{
  display: inline-block;
  vertical-align: middle;
}

.block .add{
  width: 3.5em;
  height: 3.5em;
  background-color: #1FAB89;
  cursor: pointer;
  margin: 0 .3em .6em;
}

.block .element, .block .value{
  padding: 1em;
  width: 10em;
  color: #F5F5F5;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
  margin: .25em;
}

.block .element{
  background-color: #1FAB89;
}

.block .add:hover, .block .calories:hover, .block .save:hover{
  background-color: #468F7F;
  transition: .3s;
}

.block .value{
  background-color: #A5ABB2;
  cursor: auto;
  padding: 1em;
  width: 10em;
  display: inline-block;
}

.block p{
  display: inline-block;
  color: #EAEAEA;
}

.ingredient{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.ingredient, .list{
  max-height: 30em;
  max-width: 20em;
  overflow: auto;
  width: 30em;
  padding: 1em;
  margin: 0;
  background-color: #A5ABB2;
}

.ingredient .element, .list .element{
  font-size: medium;
  font-weight: normal;
  padding: inherit;
  background-color: #4B5764;
  color: #EAEAEA;
  margin-bottom: .5em;
  width: auto;
  text-align: left;
}

.ingredient .element{
  cursor: pointer;
}

.ingredient .element:hover{
  background-color: #626C78;
}

.list .element{
  background-color: #4B5764;
  cursor: auto;
}

.ingredient .element .name, .ingredient .element .calories{
  display: inline-block;
}

.ingredient .element .name{
  width: 60%;
}

.ingredient .element .calories{
  width: max-content;
  margin-right: .2em;
}

.list .element input{
  width: 4em;
  margin-left: .2em;
}

.list .element .close{
  background-color: red;
  float: right;
  width: 1.5em;
  height: 1.5em;
  opacity: .5;
  cursor: pointer;
}

.list .element .close:hover{
  opacity: 1;
  transition: .3s;
}
