#modify_password{
  background-color: #333B4B;
  text-align: center;
  width: max-content;
  padding: 2em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

#modify_password h3{
  color: #C8C8C8;
}

#modify_password form input{
  display: block;
  margin: auto;
  border: none;
  padding: .5em 0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #777777;
  background-color: #252634;
}

#modify_password form .submit{
  background-color: #1FAB89;
  color: #F8F1F1;
  cursor: pointer;
  width: 100%;
  margin: 1em auto .5em;
}

#modify_password form .submit:hover{
  background-color: #468F7F;
  transition: .3s;
}

#close{
  position: absolute;
  right: 0;
  top: 0;
  width: 2em;
  height: 2em;
  opacity: .7;
  background-color: red;
}

#close:hover{
  opacity: 1;
  transition: .3s;
}
